.contacto {
  padding: 60px 80px;
  text-align: center;
}

.contacto h2 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #80B918;
}

.form-contacto {
  max-width: 500px;
  margin: 0 auto;
  background: #eae9e98f;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px #00000025;
}

.grupo-input {
  text-align: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.grupo-input label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

.form-contacto input{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0px solid #ccc;
  background: #ffffff;
  font-size: 16px;
}

.form-contacto textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0px solid #ccc;
  background: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-contacto textarea {
  height: 130px;
  resize: none;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  background: #80B918;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-enviar:hover {
  background: #6ba012;
}