

body {
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.




.barra-menu {
    background-color: #f4f4f4e7;
    position: fixed; 
    height: 70px;
    width: 100%;
    z-index: 1000;
    display: flex;                 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.barra-menu nav{
    display: flex;
    align-items: center;
    gap: 30px;
}


.buscador-menu {
    display: flex;
    align-items: center;
    margin-left: 50px;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 20px;
    width: 290px;
}

.buscador-menu input {
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.buscador-menu i {
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}




.barra-menu nav ul li{
    list-style: none;
}
.barra-menu nav ul{
    display: flex;
}

.barra-menu h3 {
    font-weight:bolder;
    margin: 0;
    color: #80B918;
}

.barra-menu a {
    float: left;
    color: rgb(16, 16, 16);
    text-align: center;
    line-height: 40px;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.barra-menu a:hover {
    text-decoration: underline;
}




.imagen-principal{
    width: 100%; 
}

.imagen-principal img {
    width: 100%;  
    height: 90vh;                            
  }









footer{
    list-style: none;
    display: flex;
    padding: 100%;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: flex-start;
    background-color: #f4f4f4e2;
    border-top: 2px solid #f4f4f4e4; 
    margin-top: auto;
}

footer h4{
    list-style: none;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 16px;
}

.parte-abajo ul {
  list-style: none;
  padding-left: 0; 
  margin: 0;
}


.parte-abajo ul li a{
    text-decoration: none;
    color:#18181874 ;
    text-align: left;
}

.redes h4{
    font-size: 16px;
    font-weight: bold;
}

.redes ul {
  display: flex;           
  align-items: center;
  gap: 15px;               
  list-style: none;        
  padding: 0;
}
 
.redes li a i {
color: #18181894;
}
 ul li a:hover{
  color: #000000a8; 
 }

  ul li a i:hover{
  color: #000000ae; 
 }

li{
    list-style: none;
}







.slogan{
    color: #80B918;
    font-family:'Times New Roman', Times, serif; 
    display: flex;
    align-items: center;       
    gap: 15px;                
    border-left: 1px solid #131313;
    padding-left: 60px;
    margin-left: 20px;
}

.slogan img {
  width: 100px;             
  height: auto;
}


.slogan span{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight:bolder;
    font-size: 30px;
}

.slogan p{
    padding: 40px;
    font-size: 20px;
    margin: 0;
}


@media (max-width: 728px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  header {
        font: size 5.5rem;;
    }
}

footer > div {
  flex: 1 1 200px; 
}

header > div {
    flex: 1 1 200px;
}

